@using PirateX.GMSDK
@using PirateX.GMSDK.Mapping

@{
    ViewBag.Title = "New";
}

@{
    IGMUIItemMap map = ViewBag.ItemMap;
}

<h3>
    添加新的活动 - @map.Name
</h3>

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm("SaveNew", "Activity", new { name = Request.QueryString["name"] }, FormMethod.Post, new { @class = "form" }))
        {


            <div class="form-group">
                <label>备注名（必须唯一）</label>
                @Html.TextBox("Remark", null, new { @class = "form-control" })
            </div>
            {
                List<GMUIGroup> groups = ViewBag.Groups;
                <div class="row" id="cards">
                    @foreach (var item in groups)
                    {
                        @UIHelper.ConvertToCard(item, ViewBag.ColClass)
                    }
                </div>
            }

            <button type="submit" class="btn btn-block btn-primary btn-lg">提交并保存</button>
        }
    </div>

    <div class="col-md-3">
        <div class="card border-0">
            <div class="card-header bg-light border border-top-0 border-right-0 border-left-0">
                <h4>@map.Name</h4>
            </div>

            <div class="card-body bg-light">
                <p>
                    @map.Des
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".copybtn").click(function () {

                var card = $(this).parents(".col-card").clone();
                card.find('.card-actions').children().replaceWith('<span class="btn closebtn"><i class="icon-close"></i></span>');
                card.hide().appendTo("#cards").fadeIn(500);

                resetname($(this).parents(".col-card"));
            });

            $("#cards").delegate(".closebtn", "click", function () {
                var e = $(this);

                e.parents(".col-card").fadeOut(500, function () {
                    $(this).remove();

                    var key = e.parents(".col-card").attr("key");
                    $("#cards").find(".col-card[key='" + key + "']").each(function () {
                        resetname($(this));
                    });
                });
            });
            
            function resetname(d) {
                console.log("-------------resetname---------------");

                d.find(".form-control").each(function () {
                    var objectname = $(this).attr("tag");
                    console.log(objectname);
                    $("#cards").find(".form-control[tag='" + objectname + "']").each(function (index) {
                        var newname = $(this).attr("tag").replace("[]", "[" + index + "]");
                        console.log(index + ":" + $(this).prop("name") + "--->" + newname);
                        $(this).prop("name", newname);
                    });
                });
            };
        });

    </script>
}
