@using System.Reflection
@using PirateX.GMSDK
@using PirateX.Middleware.ActiveSystem

@{
    /**/

    ViewBag.Title = "New";
}

@{
    Type type = ViewBag.Type;
    ActivityDataItemDescriptonAttribute typeAttr = type.GetCustomAttribute<ActivityDataItemDescriptonAttribute>();
}


<div class="card">
    <div class="card-header bg-light">
        @typeAttr.Name
    </div>
    @using (Html.BeginForm("New", "Activity", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group card-body" }))
    {
        <div class="alert alert-dismissible alert-secondary">
            @typeAttr.Des
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div>
            <div class="row form-group">
                <div class="col-lg-1">开始时间</div>
                <div class="col-lg-3"><input type="text" name="startat" class="form-control" /></div>
                <div class="col-lg-8">
                    <small class="form-text">xxxxx</small>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-1">结束时间</div>
                <div class="col-lg-3"><input type="text" name="startat" class="form-control" /></div>
                <div class="col-lg-8">
                    <small class="form-text">xxxxx</small>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-1">开放时间</div>
                <div class="col-lg-3">
                    <input type="checkbox"> 周一
                    <input type="checkbox"> 周二
                    <input type="checkbox"> 周三
                    <input type="checkbox"> 周四
                    <input type="checkbox"> 周五
                    <input type="checkbox"> 周六
                    <input type="checkbox"> 周七
                </div>
                <div class="col-lg-8">
                    <small class="form-text">xxxxxx</small>
                </div>
            </div>

            @foreach (PropertyInfo info in type.GetProperties())
            {
                var attr = info.GetCustomAttribute<GMUIItemAttribute>();
                if (attr != null)
                {
                    var attrType = attr.GetType();

                    <div class="row form-group">
                        <div class="col-lg-1">
                            @attr.DisplayName
                        </div>
                        <div class="col-lg-3">
                            @if (typeof(GMUIItemTextBoxAttribute).IsAssignableFrom(attrType))
                            {
                                <input type="text" name="@info.Name" class="form-control" />
                            }
                            else if (typeof(GMUIItemDropdownAttribute).IsAssignableFrom(attrType))
                            {
                                IGMUIListDataProvider listprovider = (IGMUIListDataProvider)Activator.CreateInstance(((GMUIItemDropdownAttribute)attr).ListSourceProvider);

                                <select name="@info.Name" class="form-control">
                                    @foreach (GMUIListItem item in listprovider.GetListItems())
                                    {
                                        <option value="@item.Value">@item.Name</option>
                                    }
                                </select>
                            }
                        </div>
                        <div class="col-lg-8">
                            <small class="form-text">@attr.Tips</small>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

