@using PirateX.GMSDK
@using PirateX.GMSDK.Mapping

@{
    ViewBag.Title = "New";
}

@{
    IGMUIItemMap map = ViewBag.ItemMap;
}

@if (Convert.ToBoolean(Session["Activity.New.ShowSuccess"] ?? "false"))
{
    <div class="alert alert-dismissible alert-success">
        @Html.Raw("活动添加成功!")
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    Session.Remove("Activity.New.ShowSuccess");
}
else if (Convert.ToBoolean(Session["Activity.New.ShowError"] ?? "false"))
{
    <div class="alert alert-dismissible alert-warning">
        @{
            var errors = Session["Activity.New.Errors"] as List<string>;
        }
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>


        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    Session.Remove("Activity.New.ShowError");
    Session.Remove("Activity.New.Errors");
}

<h3>
    添加新的活动 - @map.Name
</h3>

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm("SaveNew", "Activity", new { name = Request.QueryString["name"] }, FormMethod.Post, new { @class = "form" }))
        {


            <div class="form-group">
                <label>备注名（必须唯一）</label>
                @Html.TextBox("Remark", null, new { @class = "form-control" })
            </div>
            {
                List<GMUIGroup> groups = ViewBag.Groups;
                <div class="row" id="cards">
                    @foreach (var item in groups)
                    {
                        @UIHelper.ConvertToCard(item, ViewBag.ColClass)
                    }
                </div>
            }

            <button type="submit" class="btn btn-block btn-primary btn-lg">提交并保存</button>
        }
    </div>

    <div class="col-md-3">
        <div class="card border-0">
            <div class="card-header bg-light border border-top-0 border-right-0 border-left-0">
                <h4>@map.Name</h4>
            </div>

            <div class="card-body bg-light">
                <p>
                    @map.Des
                </p>
            </div>
        </div>
    </div>
</div>

