@using PirateX.ApiHelper.App_Start
@using PirateX.Core.Actor
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4" id="sidebar">
        <div class="list-group">
            @foreach (ApiGroup item in ViewBag.Groups)
            {
                @Html.ActionLink(item.Name, "Index", new { moduleVersionId = item.ModelId }, new { @class = $"list-group-item {(Equals(ViewBag.ApiGroup.ModelId, item.ModelId) ? "active" : "") }" })
           }
        </div>
    </div>

    <div class="col-xs-8">
        <h3>
            @ViewBag.ApiGroup.Name
        </h3>
        
        @{
            var groups = ((IEnumerable<Type>) ViewBag.ApiGroup.Types).GroupBy(item => item.FullName.Replace($"{item.Assembly.GetName().Name}.","").Replace($".{item.Name}",""),item=>item);

            foreach (var group in groups)
            {
                <h3>@group.Key</h3>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>接口</th>
                        <th>描述</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (Type type in group)
                    {
                        <tr>
                            <td>@Html.ActionLink( ((IAction)Activator.CreateInstance(type)).Name?? type.Name, "Details", new { modelversionid = ViewBag.ApiGroup.ModelId, typeguid = type.GUID.ToString("N") })</td>
                            <td>
                                @{
                                    var comments = CommentsDocContainer.Instance.GetTypeCommontsMember(CommentsDocContainer.Instance.GetCommentsDoc(type.Assembly), type);
                                    if (comments != null)
                                    {
                                        <span>@Html.Raw(comments.Summary.InnerText)</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            }
        }
        

        

    </div>
</div>