
@using PirateX.GMSDK;
@using PirateX.GMSDK.Mapping;

@helper ConvertToCard(GMUIGroup item, string colClass)
    {
        <div class="col-md-4" id="@item.Id">
            <div class="card">
                <div class="card-header bg-light">
                    @(item.DisplayName ?? "基础配置")

                    @if (item.CanMulti)
                    {<div class="card-actions">
                            <a href="#@item.Id" class="btn copybtn">
                                <i class="fa fa-copy"></i>
                            </a>
                        </div>
                    }
                </div>

                <div class="card-body">
                    @foreach (var subItem in item.Maps.OrderBy(x => x.OrderId))
                    {
                        @ConvertToGMUI(subItem, true)
                    }
                </div>
            </div>
        </div>
}

@helper ConvertToGMUI(IGMUIPropertyMap info, bool showlable = false)
    {
        if (info is GMUITextBoxPropertyMap)
        {
            <div class="form-group">
                @if (showlable)
                {
                    <label class="form-control-label">@info.DisplayName</label>
                }
                <input type="text" class="form-control" name="@info.Name" value="@info.DevaultValue" />
            </div>
        }
        else if (info is GMUIDropdownPropertyMap)
        {
            <div class="form-group">
                @if (showlable)
                {
                    <label class="form-control-label">@info.DisplayName</label>
                }

                <select name="@info.Name" class="form-control">
                    @foreach (var item in ((GMUIDropdownPropertyMap)info).ListDataProvider.GetListItems())
                    {
                        <option value="@item.Value" selected="@Equals(item.Value,info.DevaultValue)">@item.Text</option>
                    }
                </select>
            </div>
        }
        else if (info is GMUIMapPropertyMap)
        {
            foreach (var subItem in (info as GMUIMapPropertyMap).Map.PropertyMaps)
            {
                @ConvertToGMUI(subItem, true)
            }
        }
        else if (info is GMUICheckBoxPropertyMap)
        {
            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <div>
                    @foreach (var subitem in (info as GMUICheckBoxPropertyMap).CheckedDataProvider.GetCheckedItems())
                    {
                        <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@info.Name"> @subitem.Text
                    }
                </div>
            </div>
        }
        else
        {
            <span class="alert alert-warning">控件没有实现！！！</span>
        }
}
