
@using PirateX.GMSDK;
@using PirateX.GMSDK.Mapping;

@helper ConvertToCard(GMUIGroup item, string colClass)
    {
        /**/

        /**/
        <div class="@colClass col-card" key="@item.ObjectName">
            <div class="card">
                <div class="card-header bg-light">
                    @(item.DisplayName ?? "基础配置")

                    @if (item.CanMulti)
                    {
                        <div class="card-actions">
                            <span class="btn copybtn">
                                <i class="fa fa-copy"></i>
                            </span>
                        </div>
                    }
                </div>

                <div class="card-body">
                    @foreach (var subItem in item.Maps.OrderBy(x => x.OrderId))
                    {
                        @ConvertToGMUI(subItem, item.ObjectName)
                    }
                </div>
            </div>
        </div>
}

@helper ConvertToGMUI(IGMUIPropertyMap info, string objectName = "")
    {
        /**/

        /**/

        var name = info.Name;
        var classattr = "";
        if (!string.IsNullOrEmpty(objectName))
        {
            name = objectName + "[0]." + info.Name;
            classattr = objectName + "[]." + info.Name;
        }

        if (info is GMUITextBoxPropertyMap)
        {
            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUIDropdownPropertyMap)
        {
            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <select name="@info.Name" class="form-control" tag="@classattr">
                    @foreach (var item in ((GMUIDropdownPropertyMap)info).ListDataProvider.GetListItems())
                    {
                        <option value="@item.Value" selected="@Equals(item.Value, info.DevaultValue)">@item.Text</option>
                    }
                </select>

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUICheckBoxPropertyMap)
        {
            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <div>
                    @foreach (var subitem in (info as GMUICheckBoxPropertyMap).CheckedDataProvider.GetCheckedItems())
                    {
                        <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@info.Name" tag="@classattr"> @subitem.Text
                    }
                </div>

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUIListCheckBoxPropertyMap)
        {
            //TODO 需要修改的

            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <div class="well" style="max-height: 250px;overflow: auto;">
                    <ul class="list-group checked-list-box">
                        @foreach (var subitem in (info as GMUIListCheckBoxPropertyMap).CheckedDataProvider.GetCheckedItems())
                        {
                        <li class="list-group-item" data-checked="@subitem.Checked">
                            <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@info.Name" tag="@classattr"> @subitem.Text
                        </li>
                        }
                    </ul>
                </div>

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }

        else if (info is GMUITextAreaPropertyMap)
        {
            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <textarea type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr"></textarea>

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUIRichAreaPropertyMap)
        {
            //TODO 需要修改的

            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <textarea type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUITagsInputPropertyMap)
        {
            //TODO 需要修改的

            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else if (info is GMUIFileUploadPropertyMap)
        {
            //TODO 需要修改的

            <div class="form-group">
                <label class="form-control-label">@info.DisplayName</label>

                <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                @if (!string.IsNullOrEmpty(info.Tips))
                {
                    <small class="form-text">@info.Tips</small>
                }
            </div>
        }
        else
        {
            <span class="alert alert-warning">控件没有实现！！！</span>
        }
}
