
@using PirateX.GMSDK;
@helper ConvertToCard(GMUIControlGroup item, string colClass)
    {
        <div class="@colClass col-card" key="@item.Name">
            <div class="card">
                <div class="card-header bg-light">
                    @(item.DisplayName)

                    @if (item.CanMulti)
                    {
                        <div class="card-actions">
                            <span class="btn copybtn">
                                <i class="fa fa-copy"></i>
                            </span>
                        </div>
                    }
                </div>

                <div class="card-body">
                    @foreach (var subItem in item.Controls.OrderBy(x => x.OrderId))
                    {
                        @ConvertToGMUI(subItem, item.Name)
                    }
                </div>
            </div>
        </div>
}

@helper ConvertToGMUI(GMUIControl info, string objectName = "")
    {
        var name = info.Name;
        var classattr = "";
        if (!string.IsNullOrEmpty(objectName))
        {
            name = objectName + "[0]." + info.Name;
            classattr = objectName + "[]." + info.Name;
        }

        switch (info.Control.ToLower())
        {
            case "textbox":
                {
                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;
            case "dropdown":
                {
                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <select name="@name" class="form-control" tag="@classattr">
                            @foreach (GMUIDataDropdown item in info.Data_DropdownList)
                            {
                                <option value="@item.Value" selected="@Equals(item.Value, info.DevaultValue)">@item.Text</option>
                            }
                        </select>

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;

            case "checkbox":
                {
                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <div>
                            @foreach (GMUIDataCheckbox subitem in info.Data_CheckboxList)
                            {
                                <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@name" tag="@classattr"> @subitem.Text
                            }
                        </div>

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;
            case "listcheckbox":
                {
                    //TODO 需要修改的

                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <div class="well" style="max-height: 250px;overflow: auto;">
                            <ul class="list-group checked-list-box">
                                @foreach (GMUIDataCheckbox subitem in info.Data_CheckboxList)
                                {
                                    <li class="list-group-item" data-checked="@subitem.Checked">
                                        <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@name" tag="@classattr"> @subitem.Text
                                    </li>
                                }
                            </ul>
                        </div>

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;
            case "textarea":
                {
                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

<textarea type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr"></textarea>

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;
            case "richarea":
                {
                    //TODO 需要修改的

                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <textarea type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;

            case "tagsinput":
                {
                    //TODO 需要修改的

                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;

            case "fileupload":
                {
                    //TODO 需要修改的
                    <div class="form-group">
                        <label class="form-control-label">@info.DisplayName</label>

                        <input type="text" class="form-control" name="@name" value="@info.DevaultValue" tag="@classattr" />

                        @if (!string.IsNullOrEmpty(info.Tips))
                        {
                            <small class="form-text">@info.Tips</small>
                        }
                    </div>
                }
                break;

            default:
                {
                    <span class="alert alert-warning">控件没有实现！！！</span>
                }
                break;
        }
}

@helper ConvertToSearch(IEnumerable<GMUIControl> infos)
    {
        <div class="card">
            <div class="card-header bg-light">
                查询条件
            </div>

            <div class="card-body">
                @foreach (var info in infos)
                {
                    if (Equals(info.Control, "textbox"))
                    {
                        <div class="form-group">
                            <label class="form-control-label">@info.DisplayName</label>

                            <input type="text" class="form-control" name="@info.Name" value="@info.DevaultValue" />

                            @if (!string.IsNullOrEmpty(info.Tips))
                            {
                                <small class="form-text">@info.Tips</small>
                            }
                        </div>
                    }
                    else if (Equals(info.Control, "dropdown"))
                    {
                        <div class="form-group">
                            <label class="form-control-label">@info.DisplayName</label>

                            <select name="@info.Name" class="form-control">
                                @foreach (GMUIDataDropdown item in info.Data_DropdownList)
                                {
                                    <option value="@item.Value" selected="@Equals(item.Value, info.DevaultValue)">@item.Text</option>
                                }
                            </select>

                            @if (!string.IsNullOrEmpty(info.Tips))
                            {
                                <small class="form-text">@info.Tips</small>
                            }
                        </div>
                    }
                    else if (Equals(info.Control, "checkbox"))
                    {
                        <div class="form-group">
                            <label class="form-control-label">@info.DisplayName</label>

                            <div>
                                @foreach (GMUIDataCheckbox subitem in info.Data_CheckboxList)
                                {
                                    <input type="checkbox" value="@subitem.Value" checked="@subitem.Checked" name="@info.Name"> @subitem.Text
                                }
                            </div>

                            @if (!string.IsNullOrEmpty(info.Tips))
                            {
                                <small class="form-text">@info.Tips</small>
                            }
                        </div>
                    }
                }

                <button type="submit" class="btn btn-block btn-primary">提交并保存</button>
            </div>
        </div>
}
